*
!src
!src/util
!requirements.txt
!src/inpainting.py
!src/masking.py
!src/relocating.py
!src/encoding.py
!README.md
!.gitignore
!src/crop.py
!src/DAVIS-test/
!src/DAVIS-test/**
!src/util
!src/util/**/*.py
!src/cudacheck.py
!src/movetosam2-override
!src/movetosam2-override/**
!src/mp4tomov.py
!src/encodingharmonized.py
!src/prepforharmonizer.py
!src/scripts
!src/scripts**