*
!util
!requirement.txt
!inpainting.py
!masking.py
!relocating.py
!encoding.py
end2end.sh
!README.md
!.gitignore
!crop.py
!DAVIS-test/
!DAVIS-test/**
!util
!util/**/*.py
!bulk.sh
!cudacheck.py
!segment-anything.py
!segment-anything-2.py
!movetosam2-override
!movetosam2-override/**